<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Product Name</ion-label>
          <ion-input name="name" [(ngModel)]="product.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Product Code</ion-label>
          <ion-input
            name="code"
            type="number"
            [(ngModel)]="product.code"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Quantity</ion-label>
          <ion-input
            name="qty"
            type="number"
            [(ngModel)]="product.qty"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Price</ion-label>
          <ion-input
            name="price"
            type="number"
            [(ngModel)]="product.price"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="message">{{message}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="block" (click)="createProduct()"
          >Create Product</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
