<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Name of Customer</ion-label>
          <ion-input name="name" [(ngModel)]="user.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Location</ion-label>
          <ion-input name="location" [(ngModel)]="user.location"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="message">{{message}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="block" (click)="createUser()"
          >Create User</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
